
root { 
    display: block;
}
body {
    height: 100%;
    background-color: #333333;	
    background-position: 50% 0;
    color: #000000;
    line-height: 1.5;
    font-family: "Century Gothic", "Gill Sans", Arial, sans-serif;
    font-size: 80%;
    text-align: center;
    color: #333;
    background-color: #00a0b0;
     

}
#contenido {
   width: 960px;
  background: #fff;
  margin: 20px auto;
  padding: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #B51032;
  min-height: 900px;
}

#principal {    
    padding: 15px;
    min-height: 800px;
     
    
}

#cabecera {
    height: 90px;
    background-color: #B2DD32;
    background-image: url(../images/header1.jpg);
    background-repeat: repeat-x;
    margin: 0 auto;
   
    
    
}
#menu {
    border: 1px solid wheat;
    width: 15%;
    float: left;
    min-height: 300px;
    
}
#derecha {
    float:left;
    margin-left: 20px;
    width: 650px;
     
    
}
.enlace {
    color: #B51032;
    background-color: blueviolet;
    padding: 5px;
}
#derecha a {
     float:none;
}

#menu a {
   color: #B51032;
  
}

#menu a:hover {
    color: black;
}
#menu ul {     
    list-style-type: none;
    text-align: center;
     padding: 0;
     margin: 0;
    
}

#menu ul li {
    font-weight: bold;
    border-bottom: 1px dotted green;
    padding: 1em;
     
   
}
#cabecera h1{
    text-align: center;
    color: #B51032;
    font-family:"Palatyno", Arial, sans-serif;
    
}

#principal .persona {
    border: 1px solid #00a0b0;
    text-align: left;
    width: 60%;
    margin: 5px;
    padding-left: 10px;
}

#pie {
    
    margin: 0 auto;
    color: #B51032;
    border-top:  5px solid #B51032;
    
}
#pie p {
    text-align: center;
    font-size: smaller;
    
}

 

h1, h2, h3, h4 {
    color: darkslategray;
}

a {
     text-decoration: none;
}

table {
    border: 1px solid #00a0b0;
    border-collapse: collapse;
    margin: 10px;
}

td, th {
    border: 1px dashed #00a0b0;
    padding: 1em 1em 1em 1em;
    vertical-align: top;
    text-align: left;
}

#form {
   margin-top: 2em;
   margin-left: 2em;
   width: 80%;
}

label {
    width: 5em;
    padding-right: 1em;
    float: left;
}
#form input {
    float: left;
    margin-bottom: .6em;
}
#form input[type='text'], #form input[type='password'] {
    width: 15em;
}

#form input[type='submit'] {
   
    width: 10em;
    margin-top: 2em;
}

#form input[type='radio'] {
    width: 2em;
    margin-left: 2em;
    float:none;
}
#form input[type='checkbox'] {
    width: 2em;
    margin-left: 2em;
    float:none;
}
#form  select {
    float: left;
    width: 15em;
    margin-bottom: .6em;
    
}

br {
    clear: left;
}
.resultado {
    margin-top: 5em;
    padding: 1px;
    color: darkslateblue;
    margin-left: 10em;
}
.error {
    padding-left:  5px;
    color:  crimson;
    font-size: small;
}

hr {
    width: 60%;
}

.producto {
    border: 1px solid #00a0b0;
    text-align: left;
    width: 60%;
    margin: 5px;
    padding-left: 10px;
}